
<h1>IBM Object Storage</h1>


<!doctype html>
<html>
   <head>
      <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
   </head>
   <body align="center">
      {% for row in files %}
         <div style="size:50px">
            <h3>Filename : {{row}} </h3>
            <img src="https://image-bucket-kmnr.s3.jp-tok.cloud-object-storage.appdomain.cloud/{{row}}" width="150px"></td>
         </div>
      {% endfor %}
	  <script>
		window.watsonAssistantChatOptions = {
		  integrationID: "6c794352-76ea-4d9c-9e17-06005e413cd9", // The ID of this integration.
		  region: "au-syd", // The region your integration is hosted in.
		  serviceInstanceID: "e4f9387b-c07b-4a25-9249-5a142a2eb272", // The ID of your service instance.
		  onLoad: function(instance) { instance.render(); }
		};
		setTimeout(function(){
		  const t=document.createElement('script');
		  t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
		  document.head.appendChild(t);
		});
	  </script>
   </body>
</html>
